body{
    margin: 0px;
    font-family: 'Nanum Gothic', sans-serif;
}
.main-graph-area{
    width: 100vw;
    height: 60vh;
}

.main-graph-area .bar-graph-top-area{
    position: relative;
    height: 8vh;
    width: 100vw;

    border-bottom: 1px #E5E5E5 solid;
}

.asset-category{
    position: fixed;
    width: 20vw;
    height: 3vh;
    text-align: center;
    line-height: 3vh;

    border-bottom: 1px #1DCB9D solid;
    margin-top: 5vh;
}
.asset-category#left{
    margin-left: 15vw;
    margin-right: 65vw
}

.asset-category#right{
    margin-left: 65vw;
}
.bar-graph-area{
    position: relative;
    height: 35vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;

    background-color:rgb(255, 232, 255);
}

.bar-graph-title{
    font-weight: bolder;
}

.graph-area{
    width: 95%;
    height: 5vh;

    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2vh;

    /* background-color: cornsilk; */
}

.draw-bar-graph{
    position: relative;
    height: 50%;
    float: left;
}
.draw-bar-graph#first-ratio{
    width: 58%;
    background-color: #1DCB9D;
    border-radius: 10px 0 0 10px;
}

.draw-bar-graph#second-ratio{
    width: 18%;
    background-color: #4471FB;
    border-radius: 1px;
    margin-left: 3px;
}

.draw-bar-graph#third-ratio{
    width: 8%;
    background-color: #FD6A51;
    border-radius: 1px;
    margin-left: 3px;
}

.draw-bar-graph#fourth-ratio{
    width: 8%;
    background-color: #FBAE29;
    border-radius: 0 10px 10px 0;
    margin-left: 3px;
}